*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*main*/
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 100%;
	max-width: 1190px;
	margin: 0 auto;
}
.header{
	background: #000;
	padding-top: 56px;
}

.logo{
	font-weight: 800;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-right: 25%;
	padding-left: 15px;
}

nav{
	height: 100px;
	padding-top: 22px;
	padding-bottom: 22px;
	
	align-items: center;
	
}
.head__menu{
	list-style: none;
	float: right;
	margin-top: 5px;
}
.head__menu li{
	display: inline-block;
}
.head__menu a{
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	padding: 12px 16px;
	text-align: center;
}
.head__menu a:hover{
	border-bottom: 3px solid #fcac45;
}
.checkbtn{
	font-size: 30px;
	float: right;
	cursor: pointer;
	color: #fff;
	display: none;
}
#check{
	display: none;
}

/*медиа запрос отзывчивого меню*/

/*...........................*/

.main{

	background: #000;
	padding-top: 120px;
	padding-bottom: 30%;
}

.header__title{
	
	text-align: center;
}
h1{
	font-size: 44px;
	font-weight: 300;
	color: #999;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.header__span{
	color: #fcac45;
	font-weight: bold;
}
.header__title p{
	font-size: 20px;
	font-weight: 400;
	color: #d4d4d4;
}
.header__span_p{
	font-weight: bold;
}


.main__about{
	display: flex;
	padding: 100px 0 ;
}
.about__right{
	margin-left: 175px;
}
h2{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	font-weight: 400;
	font-size: 34px;
	text-transform: uppercase;
}
.right_title_span{
	font-weight: bold;
}

.about__right p{
	margin: 30px 0 50px 0;
	font-weight: 400;
	font-size: 18px;
	color: #6c6c6c;
	line-height: 1.6;
}
.about__right li{
	background: url(../img/dots.png) 0px no-repeat;
	padding-left: 25px;
	font-size: 18px;
	color: #6c6c6c;
	margin-bottom: 20px;
}
.li__span{
	font-weight: 700;
}
.mw_100{
	min-width: 100%
}



.team{
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
}
.main__team h2{
	font-size: 44px;
	border: none;
}
.title_line{
	margin-bottom: 85px;
}
.line{
	width: 100px;
	height: 3px;
	background: #fcac45;
	margin: auto;

}
.photo{
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.team__cards{
	display: flex;
	justify-content: space-between;
}
.name{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}
.position{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 35px;
}
.about__position{
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}
.card{

	max-width: 260px;
}


.main__services{
	padding: 90px 0;
	
}
.main__services h2{
	font-size: 44px;
	border: none;
}
.line{
	margin-bottom: 50px;
}
.title_line{
	text-align: center;
}
.title_line p{
	font-size: 14px;
	line-height: 1.5;
}
.services__cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}
.services__card{

}
.card__img{
	width: 175px;
	height: 175px;
	border-radius: 50%;
	border: 5px solid #fcac45;
	margin: 0 auto;

}
.card__img img{
	padding: 55px;
}
.second__img{
	padding: 8px 10px;
}
.services__card h4{
	font-size: 25px;
	font-weight: 400;
	margin: 20px 0;
}
.services__card p{
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 10px;
}




.main__clients{
	background: #000;
	padding: 100px 0 150px 0;
}
.client__title {
	font-size: 44px;
    border: none;
	color: #fff;
}
.client__title span{
	font-weight: 400;
	color: #d7d7d7;
}
.clients__imgs img{
	vertical-align: bottom;
	margin-left: 30px;
	margin-bottom: 20px;
}
.clients__imgs{
	text-align: center;
}



.main__testim{
	background: #000;
	padding: 100px 0 150px 0;
}

.testim__header h2{
	text-transform: uppercase;
}
.testim__p{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	margin: 110px 8% 50px 8%;
	text-align: center;
	line-height: 1.5;
}
.client__title span{
	font-weight: 400;
	color: #777;
}
.testimp2{
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.testimp2 span{
	color: #d7d7d7;
}


.main__work{
	padding: 100px 0;
	text-align: center;
}
.work h2{
	font-size: 44px;
	border: none;
}
.work span{
	color: #777;
}
.work p{
	color: #777;
	margin-bottom: 175px;
}
.line1 img{
	margin-bottom: 5px;
}
.line2 img{
	margin-bottom: 2px;
}


.footer__items a{
	color: #000;
}
.footer__items .logo{
	color: #000;
}
.footer__items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0;
}















/*Responsive*/

/* 993px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}	
	.logo{
		margin: 0;
	}
	.header__title p{
		font-size: 14px;
	}
	.topnav a{
	font-size: 12px;
	padding: 8px 12px;
	}
	.about__right{
		margin-left: 50px;
	}
	.about__right h2{
		font-size: 33px;
	}
	.gallery{
		max-width: 80%;
		margin: 0 auto;
	}
} 
/* 768px - 993px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.mw_100{
	    max-width: 100%;
		margin-bottom: 50px;
	}

	.main__about{
		flex-direction: column;
	}
	.about__right{
		margin: 0;
		text-align: center;
	}
	.about__right li{
		text-align: left;
	}
	.team__cards{
	flex-direction: column;
	}
	.line{
		left: 43.5%;
	}
	.card{
		max-width: none;
	}
	.services__cards{
		grid-template-columns: auto;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.checkbtn{
		display: block;
	}
	.head__menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 150px;
		left: -100%;
		text-align: center;
		background: #000;
		transition: all .5s;
	}
	#check:checked ~ ul{
		left: 0;
	}
	
	.head__menu a{
		color: #fff;
		font-size: 20px;
	}
	.head__menu li{
		display: block;
		margin-bottom: 30px;
	}


	.line{
		left: 40.5%;
	}
	.line1 :not(:first-child){
		display: none;
	}
	.line2 :not(:first-child){
		display: none;
	}
	.line3 :not(:first-child){
		display: none;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.about__right h2{
	}
	.line{
		left: 37.5%;
	}
	.testim__header h2{
		font-size: 40px;
	}


	.topnav.responsive{
		position: relative;
		top: 50px;
		left: 50px;
	}
	header .topnav.responsive{
		height: 220px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: 50px;
	}
}









